
  <section class="h-50 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #d10000; height:200px;">
              <div class="ms-1 mt-5 d-flex flex-column" style="width: 150px;">

                <h6 class="btn btn-outline-dark" data-mdb-ripple-color="light" style="z-index: 1; color: white" >Personal Details</h6>
              </div>
              <div class="ms-3" style="margin-top: 100px;">
                <h6>Welcome</h6>
                <h5>{{user.firstName}} {{user.lastName}}</h5>
                <p>New York</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">

            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-10">
                <p class="lead fw-normal mb-1">About You</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">Full Name: {{user.firstName}} {{user.lastName}}</p>
                  <p class="font-italic mb-1">Phone: {{user.phoneNumber}}</p>
                  <p class="font-italic mb-1"> Address: {{user.address}}</p>
                  <p class="font-italic mb-0">Zip Code: {{user.postCode}}</p>
                  <p class="font-italic mb-0">Email: {{user.email}}</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="mb-0"><a href="#!" class="text-muted" routerLink="/user-update">Update Account?</a></p>

                <p class="mb-0"><a href="#!" class="text-muted"  (click)="back()">Back</a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--<button routerLink="/user-update"> Update your Account</button>-->
