
<form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>

  <div class="field">
    <input type="text" name="name" class="input small-letters" placeholder="" formControlName="name" />
    <label for="name" class="label">First Name</label>
  </div>

  <ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">
    <li *ngIf="f.name.errors.minlength" class="error-text">  First Name must be at least 2 characters</li>
    <li *ngIf="f.name.errors.maxlength" class="error-text">  First Name must be no more than 100 characters</li>
    <li *ngIf="f.name.errors.required" class="error-text">  First Name is required </li>
  </ul>

  <div class="field">
    <input type="text" name="lastName" class="input small-letters" placeholder="" formControlName="lastName" />
    <label for="lastName" class="label">Last Name</label>
  </div>

  <ul *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">
    <li *ngIf="f.lastName.errors.minlength" class="error-text">  Last Name must be at least 5 characters</li>
    <li *ngIf="f.lastName.errors.maxlength" class="error-text">  Last Name must be no more than 100 characters</li>
    <li *ngIf="f.lastName.errors.required" class="error-text">  Last Name is required </li>
  </ul>

  <div class="field">
    <input type="text" name="email" class="input small-letters" placeholder="" formControlName="email" />
    <label for="email" class="label">E-Mail</label>
  </div>

  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
    <li *ngIf="f.email.errors.minlength" class="error-text">  E-Mail must be at least 5 characters</li>
    <li *ngIf="f.email.errors.maxlength" class="error-text">  E-Mail must be no more than 100 characters</li>
    <li *ngIf="f.email.errors.required" class="error-text">  E-Mail is required </li>
  </ul>

  <div class="field">
    <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="input small-letters" formControlName="pwd" placeholder=""/>
    <label for="password" class="label">Password</label>
  </div>

  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">
    <li *ngIf="f.pwd.errors.minlength" class="error-text">  Password must be at least 5 characters</li>
    <li *ngIf="f.pwd.errors.maxlength" class="error-text">  Password must be no more than 20 characters</li>
    <li *ngIf="f.pwd.errors.required" class="error-text">  Password is required
      <div class="glitch" data-text="The password is in the questions">The password is in the questions</div>
    </li>
  </ul>

  <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Log in">
  <div class="account-exist">
    Already have an account? <a href="#" id="login">Login</a>
  </div>
</form>
