
<!--<form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate style="margin: auto;-->
<!--  width: 60%;-->
<!--  border: 3px solid #73AD21;-->
<!--  padding: 10px; background-color: #202123; ">-->
<!--  <div class="align-items-center">-->

<!--  <div class="headline">-->
<!--    <img src="assets/Navbar/logo.png" class="rounded mx-auto d-block">-->
<!--    <h1 style="color: white"> Welcome to Saffron Cosmetics. </h1>-->

<!--  </div>-->

<!--  <div class="field">-->
<!--    <input type="text" name="name" class="input small-letters" placeholder="" formControlName="name" />-->
<!--    <label for="name" class="label" style="color: white;">First Name</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">-->
<!--    <li *ngIf="f.name.errors.minlength" class="error-text" style="color: white;">  First Name must be at least 2 characters</li>-->
<!--    <li *ngIf="f.name.errors.maxlength" class="error-text"style="color: white;">  First Name must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.name.errors.required" class="error-text"style="color: white;">  First Name is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input type="text" name="lastName" class="input small-letters" placeholder="" formControlName="lastName" />-->
<!--    <label for="lastName" class="label" style="color: white;">Last Name</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">-->
<!--    <li *ngIf="f.lastName.errors.minlength" class="error-text"style="color: white;">  Last Name must be at least 5 characters</li>-->
<!--    <li *ngIf="f.lastName.errors.maxlength" class="error-text"style="color: white;">  Last Name must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.lastName.errors.required" class="error-text"style="color: white;">  Last Name is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input type="text" name="email" class="input small-letters" placeholder="" formControlName="email" />-->
<!--    <label for="email" class="label" style="color: white;">E-Mail</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">-->
<!--    <li *ngIf="f.email.errors.minlength" class="error-text"style="color: white;">  E-Mail must be at least 5 characters</li>-->
<!--    <li *ngIf="f.email.errors.maxlength" class="error-text"style="color: white;">  E-Mail must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.email.errors.required" class="error-text"style="color: white;">  E-Mail is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="input small-letters" formControlName="pwd" placeholder=""/>-->
<!--    <label for="password" class="label"style="color: white;">Password</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">-->
<!--    <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color: white;">  Password must be at least 5 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color: white;">  Password must be no more than 20 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.required" class="error-text"style="color: white;">  Password is required-->
<!--      <div class="glitch" data-text="The password is in the questions"style="color: white;">The password is in the questions</div>-->
<!--    </li>-->
<!--  </ul>-->

<!--&lt;!&ndash;  <div class="form-group form-check">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="checkbox" class="form-check-input" id="adminCheckBox" formControlName="adminCheck">&ndash;&gt;-->
<!--&lt;!&ndash;    <label class="form-check-label" for="adminCheckBox" style="color: white">Are you an Admin?</label>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->



<!--  <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Log in">-->
<!--  <div class="account-exist" style="color: white;">-->
<!--    Already have an account? <a href="#" id="login"style="color: white;">Login</a>-->
<!--    <h5 > Remember to login with your new account</h5>-->
<!--  </div>-->
<!--  </div>-->
<!--</form>-->


<!--<form class="form" method="post" action="#">-->
<!--  <div class="signUp">-->
<!--    <div class="form-group">-->
<!--      <input type="text" placeholder="First Name" formControlName="name"  name="email" class="input small-letters" required="">-->
<!--    </div>-->
<!--    <ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">-->
<!--      <li *ngIf="f.name.errors.minlength" class="error-text" style="color: white;">  First Name must be at least 2 characters</li>-->
<!--      <li *ngIf="f.name.errors.maxlength" class="error-text"style="color: white;">  First Name must be no more than 100 characters</li>-->
<!--      <li *ngIf="f.name.errors.required" class="error-text"style="color: white;">  First Name is required </li>-->
<!--    </ul>-->

<!--    <div class="form-group">-->
<!--      <input type="text" placeholder="Last Name" formControlName="lastName"  name="email" class="input small-letters" required="">-->
<!--    </div>-->
<!--    <ul *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">-->
<!--      <li *ngIf="f.lastName.errors.minlength" class="error-text"style="color: white;">  Last Name must be at least 5 characters</li>-->
<!--      <li *ngIf="f.lastName.errors.maxlength" class="error-text"style="color: white;">  Last Name must be no more than 100 characters</li>-->
<!--      <li *ngIf="f.lastName.errors.required" class="error-text"style="color: white;">  Last Name is required </li>-->
<!--    </ul>-->

<!--    <div class="form-group">-->
<!--      <input type="text" placeholder="Username/Email" formControlName="email"  name="email" class="input small-letters" required="">-->
<!--    </div>-->
<!--    <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">-->
<!--      <li *ngIf="f.email.errors.minlength" class="error-text"style="color: white;">  E-Mail must be at least 5 characters</li>-->
<!--      <li *ngIf="f.email.errors.maxlength" class="error-text"style="color: white;">  E-Mail must be no more than 100 characters</li>-->
<!--      <li *ngIf="f.email.errors.required" class="error-text"style="color: white;">  E-Mail is required </li>-->
<!--    </ul>-->

<!--    <div class="form-group">-->
<!--      <input input [type]="fieldTextType ? 'text' : 'password'"  placeholder="Password" formControlName="pwd" name="password" class="input small-letters" required="">-->
<!--    </div>-->
<!--    <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">-->
<!--      <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color: white;">  Password must be at least 5 characters</li>-->
<!--      <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color: white;">  Password must be no more than 20 characters</li>-->
<!--      <li *ngIf="f.pwd.errors.required" class="error-text"style="color: white;">  Password is required-->
<!--        <div class="glitch" data-text="The password is in the questions"style="color: white;">The password is in the questions</div>-->
<!--      </li>-->
<!--    </ul>-->


<!--    <button type="submit" class="btn" style="color: black; background-color: darkred">Sign up</button>-->
<!--    <div class="account-exist" style="color: white">-->
<!--      Already have an account? <a href="#" id="/login"style="color: black;">Login</a>-->
<!--      Remember to login with your new account after sign-up.-->
<!--    </div>-->
<!--    <div class="login-reminder" style="color: white" id="log-remind" >-->
<!--      Remember to login with your new account after sign-up.-->
<!--    </div>-->
<!--  </div>-->

<!--</form>-->

<!--<div class="field">-->
<!--  <input type="text" name="name" class="input small-letters" placeholder="" formControlName="name" />-->
<!--  <label for="name" class="label" style="color: white;">First Name</label>-->
<!--</div>-->

<!--<ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">-->
<!--  <li *ngIf="f.name.errors.minlength" class="error-text" style="color: white;">  First Name must be at least 2 characters</li>-->
<!--  <li *ngIf="f.name.errors.maxlength" class="error-text"style="color: white;">  First Name must be no more than 100 characters</li>-->
<!--  <li *ngIf="f.name.errors.required" class="error-text"style="color: white;">  First Name is required </li>-->
<!--</ul>-->

<section class="contact">
  <div class="content">
    <h5 style="color: white">Welcome to Saffron Cosmetics</h5>
  </div>
  <div class="container-fluid">
    <div class="contactForm">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="inputBox">
          <input type="text" name="name" required="required" formControlName="name" placeholder="">
          <span> First Name</span>
        </div>
        <ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">
          <li *ngIf="f.name.errors.minlength" class="error-text" style="color: white;">  First Name must be at least 2 characters</li>
          <li *ngIf="f.name.errors.maxlength" class="error-text"style="color: white;">  First Name must be no more than 100 characters</li>
          <li *ngIf="f.name.errors.required" class="error-text"style="color: white;">  First Name is required </li>
        </ul>

        <div class="inputBox">
          <input type="text" name="lastName" required="required" formControlName="lastName">
          <span> Last Name</span>
        </div>
        <ul *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">
          <li *ngIf="f.lastName.errors.minlength" class="error-text"style="color: white;">  Last Name must be at least 5 characters</li>
          <li *ngIf="f.lastName.errors.maxlength" class="error-text"style="color: white;">  Last Name must be no more than 100 characters</li>
          <li *ngIf="f.lastName.errors.required" class="error-text"style="color: white;">  Last Name is required </li>
        </ul>

        <div class="inputBox">
          <input type="text" name="email" required="required" placeholder="" formControlName="email">
          <span>Email</span>
        </div>
        <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
          <li *ngIf="f.email.errors.minlength" class="error-text"style="color: white;">  E-Mail must be at least 5 characters</li>
          <li *ngIf="f.email.errors.maxlength" class="error-text"style="color: white;">  E-Mail must be no more than 100 characters</li>
          <li *ngIf="f.email.errors.required" class="error-text"style="color: white;">  E-Mail is required </li>
        </ul>


        <div class="inputBox">
          <input [type]="fieldTextType ? 'text' : 'password'" name="email" required="required" formControlName="pwd">
          <span> Password</span>
        </div>

        <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">
          <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color: white;">  Password must be at least 5 characters</li>
          <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color: white;">  Password must be no more than 20 characters</li>
          <li *ngIf="f.pwd.errors.required" class="error-text"style="color: white;">  Password is required
            <div class="glitch" data-text="The password is in the questions"style="color: white;">The password is in the questions</div>
          </li>
        </ul>


        <div class="inputBox">
          <input type="text" name="address" required="required" formControlName="address">
          <span>Address </span>
        </div>
        <ul *ngIf="f.address.errors && (f.address.dirty || f.address.touched)">
          <li *ngIf="f.address.errors.minlength" class="error-text"style="color: white;">  Address must be at least 5 characters</li>
          <li *ngIf="f.address.errors.maxlength" class="error-text"style="color: white;">  Address must be no more than 100 characters</li>
          <li *ngIf="f.address.errors.required" class="error-text"style="color: white;">  Address is required </li>
        </ul>


        <div class="inputBox">
          <input type="number" name="postCode" required="required" formControlName="postCode">
          <span>Your Post Code </span>
        </div>
        <ul *ngIf="f.postCode.errors && (f.postCode.dirty || f.postCode.touched)">
          <li *ngIf="f.postCode.errors.minlength" class="error-text"style="color: white;">  Post Code must be at least 5 characters</li>
          <li *ngIf="f.postCode.errors.maxlength" class="error-text"style="color: white;">  Post Code must be no more than 100 characters</li>
          <li *ngIf="f.postCode.errors.required" class="error-text"style="color: white;">  Post Code is required </li>
        </ul>

        <div class="inputBox">
          <input type="number" name="phoneNumber" required="required" formControlName="phoneNumber">
          <span>Your Phone number </span>
        </div>
        <ul *ngIf="f.phoneNumber.errors && (f.phoneNumber.dirty || f.phoneNumber.touched)">
          <li *ngIf="f.phoneNumber.errors.minlength" class="error-text"style="color: white;">  Post Code must be at least 5 characters</li>
          <li *ngIf="f.phoneNumber.errors.maxlength" class="error-text"style="color: white;">  Post Code must be no more than 100 characters</li>
          <li *ngIf="f.phoneNumber.errors.required" class="error-text"style="color: white;">  Post Code is required </li>
        </ul>

        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
        </ngx-recaptcha2>


        <ul *ngIf="f.recaptcha.errors && (f.recaptcha.dirty || f.recaptcha.touched)">
          <li *ngIf="f.recaptcha.errors.required" class="error-text"style="color: white;">  Password is required
            <div class="glitch" data-text="Remember to click here"style="color: white;">The password is in the questions</div>
          </li>
        </ul>

        <div class="inputBox">
          <div class="g-recaptcha" data-sitekey="mySiteKey"></div>
          <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null && f.recaptcha.errors === null && f.name.errors === null && f.lastName.errors === null)" class="btn btn-info text-white login-button button-color" name="" (click)="SignUpAlert()" value="Sign in">
        </div>




        <div class="account-exist" style="color: white;">
          Already have an account? <a href="#" id="login"  routerLink="/login" >Login</a>
          <h6 > Remember to login with your new account</h6>
        </div>

      </form>
    </div>
  </div>
</section>
