@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500&display=swap');

.some-class{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei Opti', serif;
}
.contact{
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("~src/assets/welcome-page/cosmetics-login2.jpg") no-repeat;
  background-size: 100%;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h5{
  font-size: 36px;
  font-weight: 500;
  color: #24262b;
}

.contact .content p {
  font-weight: 300;
  color: #24262b;
}
.container-fluid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container-fluid .Contact-Info{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: antiquewhite 2px solid;
}
.container-fluid .Contact-Info .box {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 10px 10px 20px;
}
.container-fluid .Contact-Info .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-fluid .Contact-Info .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  align-content: center;
}
.container-fluid .Contact-Info .box .text h6{
  color: #4E83DB;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.9);
  border: antiquewhite 2px solid;
}
.contactForm h5{
  font-size: 30px;
  color: #3D2022;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}
.contactForm .inputBox input, .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #24262b;
  outline: none;
  resize: none;
  color: #000000;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  font-size: 14px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 7px 0 0 10px;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #FA1F12;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="Submit"]{
  width: 100%;
  background: #24262b;
  color: #000000;;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactForm .inputBox input[type="Submit"]:hover{
  width: 100%;
  background: antiquewhite;
  color: #222222;
}
@media (max-width: 991px) {
  .contact{
    padding: 50px;
  }
  .container-fluid{
    flex-direction: column;
  }
  .container-fluid .ContactInfo{
    margin-bottom: 40px;
  }
  .container-fluid .Contact-Info, contactForm{
    width: 100%;
  }
}

.input-text{

}
