.imgDiv {
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 200px;
}
.name{
  padding: 2px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 70px;
}
.price{
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
}
.prodImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

#priceTag{
  font-size: 20px;
}
