<div>
<div class="imgDiv" (click)="selectSingleProduct(productItem)">
  <img src="assets/products/{{productItem.id}}.jpg" class="prodImg" alt="product" >
</div>
<div class="name">
  <strong>{{productItem.name }}</strong>
</div>
<div class="price">
  <strong>£{{productItem.price}}</strong>
  <i *ngIf = "addedToWishlist" class="fas fa-heart float right" (click)="handleRemoveFromWishlist(productItem)"></i>
  <i *ngIf="!addedToWishlist"  class="far fa-heart float right" (click)="handleAddToWishlist(productItem)"></i>
</div>
</div>



