<div class="wrapper">
  <form class="form" method="post" action="#">
    <div class="headline">
      <h5>New Customer</h5>
    </div>
    <div class="signup">
      <div class="form-group">
        <input type = text placeholder="FirstName" required="">
      </div>
      <div class="form-group">
        <input type = text placeholder="LastName" required="">
      </div>
      <div class="form-group">
        <input type = email placeholder="Email" required="">
      </div>
      <div class="form-group">
        <input type = password placeholder="Password" required="">
      </div>
      <button (click)="submit()" class="btn">Sign Up</button>
      <div class="account-exist">
        Already have an account? <a href="#" id="login">Login</a>
      </div>
    </div>
  </form>
</div>
