.copyright-text{
  width: 100%;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5px;
  font-size: 11px;
}
.footer{
  margin-top: 10px;
}
.card-footer{
  box-sizing: border-box;
  width:20%;
  height:20%
}
.row ::after{
  content: "";
  display: table;
  clear: both;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 4%;
  padding: 5px;
  margin-left: 6.0%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


