  <div class="border-top" style="background: #24262b;">
   <div>
     <div class="row footer">
       <div class="column">
         <img src="assets/Footer-Pay/visa.png" alt="visa" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/MasterCard.png" alt="master card" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/applyPay.png" alt="apple pay" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/americanExpress.jpg" alt="american express" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/paypal.png" alt="paypal" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/gpay.png" alt="google pay" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/worldpay.jpg" alt="wordlpay" style="width:100%">
       </div>
       <div class="column">
         <img src="assets/Footer-Pay/jcb.png" alt="jcb" style="width:100%">
       </div>
     </div>
      <div class="copyright-text">
        <h6>&copy;2021 Saffron Cosmetics Ltd. All rights reserved.</h6>
      </div>
    </div>
   </div>


