<section class="parent">
 <section class="child">
  <div class="card-footer border-top">
  <div class="container-fluid">
    <div class="row">
       <div class="card-footer">
         <img src="assets/Footer-Pay/visa-png.jfif" width="100%">
       </div>
         <div class="card-footer">
             <img src="assets/Footer-Pay/mastercard-png.jfif" width="100%">
         </div>
           <div class="card-footer">
                <img src="assets/Footer-Pay/apple-pay-png.jfif" width="100%">
           </div>
             <div class="card-footer">
                 <img src="assets/Footer-Pay/american-express-png.jfif" width="100%">
             </div>
       </div>
    </div>
  </div>
 </section>
  <section class="child">
    <div class="container-fluid">
       <div class="copyright-text">
          <h6>&copy;2021 Saffron Cosmetics Ltd. All rights reserved.</h6>
       </div>
     </div>
 </section>
</section>


