@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&display=swap');

.links-bar{
  font-family: 'Slabo 27px', serif;
  font-size: 21px;
  margin-right: 6px;
  margin-left: 6px;
}

.distance{
  margin: 0px;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

