@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&display=swap');

.links-bar{
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: default;
  color: white !important;
  //border-bottom: 2px solid transparent;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

#nav .primary:hover a {
  background-color: #fff;
  color: black !important;
}

.dropdown-item:hover{
  background-color: #EFEDF3 !important;
  cursor: pointer;
}
