<nav class="navbar navbar-expand-lg navbar-light-blue-skin">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Navbar/logo.png" width="210" height="95" alt="" loading="lazy">
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search"  >
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">WishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MyAccount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Checkout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
 <nav class="navbar navbar-expand-lg
        navbar-light bg-light">

  <button class="navbar-toggler"
          type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarNavAltMarkup">
        <a href="#" class="mx-1 gap">Home</a>
        <a href="#" class="mx-1 gap">Eyes</a>
        <a href="#" class="mx-1 gap">Nails</a>
        <a href="#" class="mx-1 gap">Lips</a>
        <a href="#" class="mx-1 gap">Face</a>
        <a href="#" class="mx-1 gap">Fragrance</a>
        <a href="#" class="mx-1 gap">Accessories</a>
        <a href="#" class="mx-1 gap">GiftSets</a>

  </div>
</nav>

