<nav class="navbar navbar-expand-lg navbar-light-blue-skin">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Navbar/logo.png" width="210" height="95" alt="" loading="lazy">
    </a>
    <div class="container">
      <div class="row">
        <div class="span12">
          <form id="custom-search-form" class="form-search form-horizontal pull-right">
            <div class="input-append span12">
              <input type="text" class="search-query" placeholder="Search">
              <button type="submit" class="btn"><i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active topMenu" aria-current="page" href="#">WishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link topMenu" href="#">MyAccount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link topMenu" href="#">Checkout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
 <nav class="navbar navbar-expand-lg
        navbar-light bg-light">

  <button class="navbar-toggler"
          type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse bottomLinks"  id="navbarNavAltMarkup">
     <div>
       <a href="#" class="mx-1">Home</a>
       <a href="#" class="mx-1">Eyes</a>
       <a href="#" class="mx-1">Nails</a>
       <a href="#" class="mx-1">Lips</a>
       <a href="#" class="mx-1">Face</a>
       <a href="#" class="mx-1">Fragrance</a>
       <a href="#" class="mx-1">Accessories</a>
       <a href="#" class="mx-1">GiftSets</a>
     </div>
   </div>
</nav>
