.bottomLinks a{
  padding-right: 20px;
  padding-left: 20px  ;
  font-size: 22px;
  color: #000;
  text-decoration:none;
  border-bottom: 2px solid transparent;
}

.bottomLinks a:hover{
  color: darkgrey;
  border-bottom: 2px solid #FA1F12;
}

.bottomLinks{
  text-align: center;
  align-items: center;
  align-content: center;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 10px;
}



