<section class="contact">
  <div class="content">
    <h5 style="color: white">Welcome to Saffron Cosmetics</h5>
  </div>
  <div class="container-fluid">
    <div class="contactForm">
      <form [formGroup]="loginForm2" (ngSubmit)="logIn()">


        <div class="inputBox">
          <input type="text" name="email" required="required" placeholder="" formControlName="email">
          <span>Email</span>
        </div>
        <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
          <li *ngIf="f.email.errors.minlength" class="error-text"style="color: white;">  E-Mail must be at least 5 characters</li>
          <li *ngIf="f.email.errors.maxlength" class="error-text"style="color: white;">  E-Mail must be no more than 100 characters</li>
          <li *ngIf="f.email.errors.required" class="error-text"style="color: white;">  E-Mail is required </li>
        </ul>


        <div class="inputBox">
          <input [type]="fieldTextType ? 'text' : 'password'" name="email" required="required" formControlName="pwd">
          <span> Password</span>
        </div>

        <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">
          <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color: white;">  Password must be at least 5 characters</li>
          <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color: white;">  Password must be no more than 20 characters</li>
          <li *ngIf="f.pwd.errors.required" class="error-text"style="color: white;">  Password is required
            <div class="glitch" data-text="The password is in the questions"style="color: white;">The password is in the questions</div>
          </li>
        </ul>

        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
        </ngx-recaptcha2>

        <ul *ngIf="f.recaptcha.errors && (f.recaptcha.dirty || f.recaptcha.touched)">
          <li *ngIf="f.recaptcha.errors.required" class="error-text"style="color: white;">  Password is required
            <div class="glitch" data-text="Remember to click here"style="color: white;">The password is in the questions</div>
          </li>
        </ul>


        <div class="inputBox">
          <div class="g-recaptcha" data-sitekey="mySiteKey"></div>
          <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null && f.recaptcha.errors === null)" class="btn btn-info text-white login-button button-color" name="" value="Log in">
        </div>
        <div class="account-exist" style="color: white">
          Create a new account? <a href="#" id="login" routerLink="/user/sign-up">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</section>


