@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  padding: 50px 25px 0;
  max-width: 668px;
  width: 100%;
  margin: auto;
}

.wrapper ::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background: url("~src/assets/welcome-page/saffron-advent-calendar-for-women.jpg") no-repeat center;
  min-height: 100vh;
  z-index: -1;
}
.wrapper .headline h5{
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  alignment: center;
  justify-content: center;
  margin-bottom: 5px;
}

.wrapper .form {
  max-width: 350px;
  width: 100%;
  margin: auto;
}

.wrapper .form-group{
  margin-bottom: 15px;
}

.wrapper .form-group input{
  display: block;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  border-radius: 5px;
  color: #222222;
  border: #4E83DB;
  box-shadow: none;
  width: 100%;
}
.wrapper .form-group input:focus {
  outline: none;
}
.wrapper .form-group input ::placeholder{
  color: #222222;
  font-size: 12px;
  font-weight: 300;
}
.wrapper .btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  border: none;
  color: white;
  background-color: #24262b;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;

}
.wrapper .btn:focus {
  outline: none;
}
.wrapper .account-exist{
  color: #222222;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  text-align: center;
}
.wrapper .account-exist a{
  color: #4E83DB;
}
.wrapper .forget-password{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.wrapper .forget-password a{
  color: #4E83DB;
}
.wrapper .forget-password .check-box{
  font-size: 12px;
  color: black;
}

.signup.inActive{
  display: none;
}
.signin{
  display: none;
}
.signin .active{
  display: block;
}
@media (max-width: 1030px) {
  .wrapper ::before{
    left: -25%;
    min-height: 60vh;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .wrapper{
    max-width: 550px;
  }


}
