<!--<form class="form" method="post" action="#">-->
<!--  <div class="headline">-->
<!--    <h5>Existing Customer</h5>-->
<!--  </div>-->
<!--  <div class="signin">-->
<!--    <div class="form-group">-->
<!--      <input type = email placeholder="Email" required="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type = password placeholder="Password" required="">-->
<!--    </div>-->
<!--    <div class=forget-password>-->
<!--      <div class="check-box">-->
<!--        <input type="checkbox" id="checkbox">-->
<!--        <label for="checkbox"> Remember Me </label>-->
<!--      </div>-->
<!--      <a href="#">Forget Password?</a>-->
<!--    </div>-->
<!--    <button type="submit" class="btn" routerLink="/login">Login</button>-->
<!--    <div class="account-exist">-->
<!--      Create a new account <a href="#" id="sign up">Sign Up</a>-->
<!--    </div>-->
<!--  </div>-->

<!--</form>-->
  <!--    <div class="headline">-->
  <!--      <h5>New Customer</h5>-->
  <!--    </div>-->
<!--<div *ngIf="!userExists">-->
<!--<app-sign-up></app-sign-up>-->
<!--</div>-->


<!--<form [formGroup]="loginForm2" (ngSubmit)="logIn()" novalidate>-->

<!--  <div class="field">-->
<!--    <input type="text" name="name" class="input small-letters" placeholder="" formControlName="name" />-->
<!--    <label for="name" class="label">First Name</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.name.errors && (f.name.dirty || f.name.touched)">-->
<!--    <li *ngIf="f.name.errors.minlength" class="error-text">  First Name must be at least 2 characters</li>-->
<!--    <li *ngIf="f.name.errors.maxlength" class="error-text">  First Name must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.name.errors.required" class="error-text">  First Name is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input type="text" name="lastName" class="input small-letters" placeholder="" formControlName="lastName" />-->
<!--    <label for="lastName" class="label">Last Name</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.lastName.errors && (f.lastName.dirty || f.lastName.touched)">-->
<!--    <li *ngIf="f.lastName.errors.minlength" class="error-text">  Last Name must be at least 5 characters</li>-->
<!--    <li *ngIf="f.lastName.errors.maxlength" class="error-text">  Last Name must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.lastName.errors.required" class="error-text">  Last Name is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input type="text" name="email" class="input small-letters" placeholder="" formControlName="email" />-->
<!--    <label for="email" class="label">Username</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">-->
<!--    <li *ngIf="f.email.errors.minlength" class="error-text">  Username must be at least 5 characters</li>-->
<!--    <li *ngIf="f.email.errors.maxlength" class="error-text">  Username must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.email.errors.required" class="error-text">  Username is required </li>-->
<!--  </ul>-->

<!--  <div class="field">-->
<!--    <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="input small-letters" formControlName="pwd" placeholder=""/>-->
<!--    <label for="password" class="label">Password</label>-->
<!--  </div>-->

<!--  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">-->
<!--    <li *ngIf="f.pwd.errors.minlength" class="error-text">  Password must be at least 5 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.maxlength" class="error-text">  Password must be no more than 20 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.required" class="error-text">  Password is required-->
<!--      <div class="glitch" data-text="The password is in the questions">The password is in the questions</div>-->
<!--    </li>-->
<!--  </ul>-->

<!--  <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Log in">-->
<!--  <div class="account-exist">-->
<!--    Already have an account? <a href="#" id="login">Login</a>-->
<!--  </div>-->
<!--</form>-->


<form [formGroup]="loginForm2" (ngSubmit)="logIn()" novalidate style="margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px; background-color: black;">

  <div class="field">
    <input type="text" name="email" class="input small-letters" placeholder="" formControlName="email" />
    <label for="email" class="label" style="color: white;"><b>Username</b></label>
  </div>

  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
    <li *ngIf="f.email.errors.minlength" class="error-text"style="color:white;">  Username must be at least 5 characters</li>
    <li *ngIf="f.email.errors.maxlength" class="error-text"style="color:white;">  Username must be no more than 100 characters</li>
    <li *ngIf="f.email.errors.required" class="error-text"style="color:white;">  Username is required </li>
  </ul>

  <div class="field">
    <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="input small-letters" formControlName="pwd" placeholder=""/>
    <label for="password" class="label" style="color: white;"><b>Password</b></label>
  </div>

  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">
    <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color:white;">  Password must be at least 4 characters</li>
    <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color:white;">  Password must be no more than 20 characters</li>
    <li *ngIf="f.pwd.errors.required" class="error-text"style="color:white;">  Password is required
      <div class="glitch" data-text="The password is in the questions">The password is in the questions</div>
    </li>
  </ul>

  <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Log in" style="color: darkred">
  <div class="account-exist" style="color: white">
    Create a new account? <a href="#" id="login" routerLink="/sign-up">Sign Up</a>
  </div>
</form>

<!--<form>-->
<!--  <div class="form-group" [formGroup]="loginForm2" (ngSubmit)="logIn()">-->
<!--    <label for="email">Email address</label>-->
<!--    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Username" formControlName="email" name="email">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" >-->
<!--    <li *ngIf="f.email.errors.minlength" class="error-text" >  Username must be at least 5 characters</li>-->
<!--    <li *ngIf="f.email.errors.maxlength" class="error-text">  Username must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.email.errors.required" class="error-text">  Username is required </li>-->
<!--  </ul>-->
<!--  <div class="form-group">-->
<!--    <label for="password" class="label">Password</label>-->
<!--    <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="form-control" placeholder="Password" formControlName="pwd" >-->
<!--  </div>-->
<!--  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">-->
<!--    <li *ngIf="f.pwd.errors.minlength" class="error-text">  Password must be at least 4 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.maxlength" class="error-text">  Password must be no more than 20 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.required" class="error-text">  Password is required-->
<!--      <div class="glitch" data-text="The password is in the questions">The password is in the questions</div>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--  <button type="submit" class="btn btn-info text-white login-button botton-color" value="Log in" style="color: darkred"-->
<!--          [disabled]="!(f.pwd.errors === null && f.email.errors === null)">Submit</button>-->
<!--  <div class="account-exist" style="color: black">-->
<!--    Create a new account? <a href="#" id="login" routerLink="/sign-up">Sign Up</a>-->
<!--  </div>-->
<!--</form>-->


<!--<form [formGroup]="loginForm2" (ngSubmit)="logIn()" >-->
<!--  <div class="form-group row">-->
<!--    <div class="field">-->
<!--    <label for="email" class="col-sm-2 col-form-label">Email</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input type="text" name="email" class="form-control" id="inputEmail3" placeholder="" formControlName="email"  >-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">-->
<!--    <li *ngIf="f.email.errors.minlength" class="error-text"style="color:white;">  Username must be at least 5 characters</li>-->
<!--    <li *ngIf="f.email.errors.maxlength" class="error-text"style="color:white;">  Username must be no more than 100 characters</li>-->
<!--    <li *ngIf="f.email.errors.required" class="error-text"style="color:white;">  Username is required </li>-->
<!--  </ul>-->


<!--  <div class="form-group row">-->
<!--    <div class="field">-->

<!--    <label for="password" class="col-sm-2 col-form-label" formControlName="pwd" placeholder="">Password</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input [type]="fieldTextType ? 'text' : 'password'" name="email" class="form-control" id="inputPassword3" placeholder="Password">-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">-->
<!--    <li *ngIf="f.pwd.errors.minlength" class="error-text"style="color:white;">  Password must be at least 4 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.maxlength" class="error-text"style="color:white;">  Password must be no more than 20 characters</li>-->
<!--    <li *ngIf="f.pwd.errors.required" class="error-text"style="color:white;">  Password is required-->
<!--      <div class="glitch" data-text="The password is in the questions">The password is in the questions</div>-->
<!--    </li>-->
<!--  </ul>-->


<!--  <fieldset class="form-group">-->
<!--  </fieldset>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-sm-10">-->
<!--&lt;!&ndash;      <input type="submit" class="btn btn-info text-white login-button botton-color" [disabled]="!(f.pwd.errors === null && f.email.errors === null)">Sign in</input>&ndash;&gt;-->
<!--      <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Log in" style="color: darkred">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="account-exist" style="color: black">-->
<!--     Create a new account? <a href="#" id="login" routerLink="/sign-up">Sign Up</a>-->
<!--     </div>-->
<!--</form>-->


