.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.productCard {
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 200px;
  height: 350px;
  display: block;
}

.productCard :hover{
  margin: 3px;
  display: block;
  cursor: pointer;
}
