@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap');

.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 50px;
  text-align:center;
  align-items: center;
}

.headerDiv{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 50px;
  text-align:center;
  align-items: center;
}

.productCard {
  align-items: center;
  text-align: center;
  margin: 10px 35px 10px 35px;
  width: 200px;
  height: 350px;
  display: block;
}

.productCard :hover{
  margin: 1px;
  display: block;
}

.header{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  border-bottom: 3px solid #FA1F12;
}
