<section class="contact">
  <div class="content">
    <h5 style="color: black; background-color: #DC143C;">Forgot Password</h5>
  </div>
  <div class="container-fluid">
    <div class="contactForm">

      <form [formGroup]="mailForm" (ngSubmit)="sendResetMail(mailForm.value.email)">


        <div class="inputBox">
          <input type="text" name="email" required="required" placeholder="" formControlName="email">
          <span>Email Address</span>
        </div>
        <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
          <li *ngIf="f.email.errors.required" class="error-text"style="color: white;">  E-Mail is required if you want to change your password</li>
        </ul>


        <div class="inputBox">
          <div class="g-recaptcha" data-sitekey="mySiteKey"></div>
          <input type="submit" [disabled]="!( f.email.errors === null )" class="btn btn-info text-white login-button button-color" name="" value="Send" >

        </div>

        <div class="password-forgot" style="color: white; ">
          Remembered your password?
          <a href="#" id="forgot-password" routerLink="/login">Back to Login</a>
        </div>

      </form>
    </div>
  </div>
</section>

