#highlighted {
  position: relative;
  background-color: #DC143C;
}
@media (min-width: 992px){
#highlighted .container-fluid {
  margin-bottom: 2.5rem;
}
#highlighted .container-fluid h1, #highlighted .container-fluid p {
  color: #FFF;
}
.h1, h1 {
  font-size: 54.93px;
}
.h1, h1, h2, h3, h4, h5, h6 {
  font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #414141;
}
.h1, body, h1, h2, h3, h4, h5, h6, html {
  font-weight: 300;
}
#content {
  background-position: right bottom;
  background-repeat: no-repeat;
}
.interior-page {
  background-color: #FFF;
  padding-bottom: 30px;
}
#highlighted+#content.interior-page .interior-page-nav {
  margin-top: -4em;
}
#highlighted+#content.interior-page .interior-page-nav, .interior-page .interior-page-nav {
  padding-left: 0;
}
.sidebar {
  margin-top: 2em;
}
@media (min-width: 1200px){
.col-lg-2 {
  width: 16.66666667%;
}
.content-area-right {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid>.row h2.crumb-title {
  margin-bottom: 0;
}
.page-title {
  min-height: 50px;
}
.page-title, ul {
  margin: 0;
  list-style: none;
}
.content-crumb-div {
  margin: 5px 0 20px;
}
a {
  text-decoration: none;
}
.container-fluid .row .modal, .page .modal {
  position: fixed;
  top: 35%;
}
#highlighted+#content.interior-page .interior-page-nav, .interior-page .interior-page-nav {
  padding-left: 0;
}
#highlighted+#content.interior-page .interior-page-nav {
  margin-top: -4em;
}
.dynamicDiv.panel-group {
  border: 1px solid #E7E9E9;
  margin-left: 30px;
}
.panel-group {
  margin-bottom: 0;
  background-color: #fff;
}
.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.panel-group .panel-heading {
  padding: 0;
  border: none;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-group .panel-heading .panel-title {
  font-size: 1.1em;
  font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.interior-page-nav .panel-group .panel-heading .panel-title a {
  background: 0 0;
}
.panel-group .panel-heading .panel-title a {
  display: block;
  padding: 15px 45px 15px 15px;
  background: url("../../../assets/welcome-page/cosmetics-login2.jpg") 95% center no-repeat #f6f6f6;
}
span.subMenuHighlight, ul.panel-heading li.panel-title a:hover {
  color: #ED3C95;
}
.panel-group .panel-heading .panel-title {
  font-size: 1.1em;
  font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul.panel-heading {
  margin-bottom: 1px;
}
.panel-group .panel-heading .panel-title a {
  display: block;
  padding: 15px 45px 15px 15px;
  background: url("../../../assets/welcome-page/saffron-advent-calendar-for-women.jpg") 95% center no-repeat #f6f6f6;
}
.panel-group {
  margin-bottom: 0;
  background-color: #fff;
}
.label-default {
  background-color: #FFF;
  margin-top: 10px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control {
  border-radius: 0;
}
.btn-primary {
  color: #fff;
  background-color: #DC143C;
  border-color: #ea3e10;
  width: 100%;
}
.btn-block {
  display: block;
}
.btn {
  padding: 8px 28px;
  font-weight: 400;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
  white-space: normal;
  border-width: 0 0 1px;
}
.content-area-right {
  margin-top: 10px;
}}}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  padding: 50px 25px 0;
  max-width: 668px;
  width: 100%;
  margin: auto;
}

.wrapper ::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background: url("../../../assets/welcome-page/saffron-advent-calendar-for-women.jpg") no-repeat center;
  min-height: 100vh;
  z-index: -1;
}
.wrapper .headline h5{
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  alignment: center;
  justify-content: center;
  margin-bottom: 5px;
}

.wrapper .form {
  max-width: 350px;
  width: 100%;
  margin: auto;
}

.wrapper .form-group{
  margin-bottom: 15px;
}

.wrapper .form-group input{
  display: block;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  border-radius: 5px;
  color: #222222;
  border: #4E83DB;
  box-shadow: none;
  width: 100%;
}
.wrapper .form-group input:focus {
  outline: none;
}
.wrapper .form-group input ::placeholder{
  color: #222222;
  font-size: 12px;
  font-weight: 300;
}
.wrapper .btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  border: none;
  color: white;
  background-color: #24262b;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;

}
.wrapper .btn:focus {
  outline: none;
}
.wrapper .account-exist{
  color: #222222;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  text-align: center;
}
.wrapper .account-exist a{
  color: #4E83DB;
}
.wrapper .forget-password{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.wrapper .forget-password a{
  color: #4E83DB;
}
.wrapper .forget-password .check-box{
  font-size: 12px;
  color: black;
}

.signup.inActive{
  display: none;
}
.signin{
  display: none;
}
.signin .active{
  display: block;
}
@media (max-width: 1030px) {
  .wrapper ::before{
    left: -25%;
    min-height: 60vh;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .wrapper{
    max-width: 550px;
  }


}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500&display=swap');

.some-class{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei Opti', serif;
}
.contact{
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../../assets/welcome-page/cosmetics-login2.jpg") no-repeat;
  background-size: 100%;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h5{
  font-size: 36px;
  font-weight: 500;
  color: #24262b;
}

.contact .content p {
  font-weight: 300;
  color: #24262b;
}
.container-fluid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container-fluid .Contact-Info{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: antiquewhite 2px solid;
}
.container-fluid .Contact-Info .box {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 10px 10px 20px;
}
.container-fluid .Contact-Info .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container-fluid .Contact-Info .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  align-content: center;
}
.container-fluid .Contact-Info .box .text h6{
  color: #4E83DB;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.9);
  border: antiquewhite 2px solid;
}
.contactForm h5{
  font-size: 30px;
  color: #3D2022;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}
.contactForm .inputBox input, .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #24262b;
  outline: none;
  resize: none;
  color: #000000;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  font-size: 14px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 7px 0 0 10px;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #FA1F12;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="Submit"]{
  width: 100%;
  background: #24262b;
  color: #000000;;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactForm .inputBox input[type="Submit"]:hover{
  width: 100%;
  background: antiquewhite;
  color: #222222;
}
@media (max-width: 991px) {
  .contact{
    padding: 50px;
  }
  .container-fluid{
    flex-direction: column;
  }
  .container-fluid .ContactInfo{
    margin-bottom: 40px;
  }
  .container-fluid .Contact-Info, contactForm{
    width: 100%;
  }
}
forgot-password:hover {
  color: darkred;
}

password-forgot:hover {
  color: darkred;
}

.input-text{

}

