<nav class="navbar navbar-expand-lg navbar-light-blue-skin topnavbar" style="background: #202123">
  <div class="container-fluid">
    <img src="assets/Navbar/logo.png" class="navbar-brand">

    <div class="container" >
        <div class="search-box" >
         <input class = "search-text"  style="color: white" name = "" placeholder="Type to search">
         <a class="search-btn" href="#" style="color: white">
           <i class="fas fa-search" ></i>
         </a>
        </div>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse my-acc-class navbar-collapse justify-content-end" style="width: 100%"  id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-sm-5-0">
        <li class="nav-item">
          <a class="nav-link topMenu" routerLink="/login" style="color: white">
             <i class="fas fa-user-circle"></i> MyAccount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active topMenu" style="color: white" aria-current="page" href="#">
            <i class="fas fa-heart"></i> WishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active topMenu" style="color: white" aria-current="page" href="#">
            <button class="dropbtn"></button> Dropdown</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link topMenu" style="color: white" href="#">
            <i class="fas fa-shopping-basket"></i> Checkout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
