@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500&display=swap');
.topMenu{
  color: black;
  font-size: 15px;
  font-family: 'Kaisei Opti', serif;
  border-bottom: 2px solid transparent;

}

.topMenu:hover{
  color: darkgrey;
  border-bottom: 2px solid #FA1F12;
  text-align: right;
}

body{
  margin: 0;
  padding: 0;
  background: darkgrey;
}
.search-box{
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 5px;
  height: 20px;
  border-radius: 30px;
}

.search-box:hover > .search-text{
  width: 140px;
  padding: 0.6px;
}

.search-btn{
  color: #24262b;
  float: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-text{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  float: left;
  font-size: 16px;
  transition: 0.4s;
  line-height: 10px;
  width: 0px;
}
@media only screen and(max-width: 992px) {
  .navbar-brand {
   margin-right: 800px;

  }
}
@media only screen and(max-width: 733px) {
  .search-box {
    margin-left: 130px;

  }
}
@media only screen and(max-width: 1002px) {
  .my-acc-class {
    margin-right: 300px;
    alignment: right;

  }
}

