@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h3 {
  text-align: center;
  padding-top: 30px;
  border-bottom: 3px solid #F85B32;
  width: 260px;
  display: table;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.purchase-info .btn{
  border: 1.5px solid grey;
  border-radius: 25px;
  text-align: right;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  background-color: green;
  alignment: right;
  cursor: pointer;
}
.discount{
  backgroundcolor: darkblue;
}


th{
  padding: 5px;
  color: #fff;
  background: #24262b;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  align-items: center;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #007ae1;
  font-size: 12px;
}
td img{
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.total-price table{
  width: 100%;
  max-width: 360px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.removeIcon{
  margin-left: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .cart-info p{
    display: none;
  }
}

.productCell{
  border-bottom: 3px solid #2e323c;
}

.removeBtn{
  cursor: pointer;
  color: #007ae1;
}
.descriptionText{
  padding-right: 300px;
}

.description{
  text-align: center;
  align-items: center;
}

.quantity{
  width: 100px;
  text-align: center;
  align-items: center;
}
.addQ{
  cursor: pointer;
  padding-right: 7px;
  color: green;
}
.deleteQ{
  cursor: pointer;
  padding-left: 7px;
  color: black;
}
