<h1>Shopping cart</h1>
<div class="container cart-page">
  <table >
    <tr>
      <th style="padding-left: 20px">Product</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr *ngFor="let product of usersSelectedProducts" class="productCell">
      <td>
        <div class="cart-info">
          <img src="assets/products/{{product.product?.id}}.jpg" alt="">
          <div>
            <p>{{product.product?.name}}</p>
            <small>£{{product.product?.price}}</small>
            <small (click)="removeProductFromShoppingCart(product.product?.id)" class="removeBtn">  Remove</small>
          </div>
        </div>
      </td>
      <td>{{product.product?.description}}</td>
      <td><input id="price" type="number" value="{{product.quantity}}"></td>
      <td>£{{product.product?.price}}</td>
    </tr>
  </table>
  <div class="total-price">
    <table>
      <tr>
        <td>Total</td>
        <td>$200.00</td>
      </tr>
    </table>
  </div>
</div>
