<h1>Shopping cart</h1>
<div class="container cart-page">
  <table>
    <tr>
      <th style="padding-left: 20px">Product</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="assets/products/1.jpg" alt="">
          <div>
            <p>Pencil</p>
            <small>Price: $50.00</small>
            <a href="">Remove</a>
          </div>
        </div>
      </td>
      <td>Very Good model</td>
      <td><input type="number" value="1"></td>
      <td>60$</td>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="assets/products/1.jpg" alt="">
          <div>
            <p>Pencil</p>
            <small>Price: $50.00</small>
            <a href="">Remove</a>
          </div>
        </div>
      </td>
      <td>Very Good model</td>
      <td><input type="number" value="1"></td>
      <td>60$</td>
    </tr>
  </table>
  <div class="total-price">
    <table>
      <tr>
        <td>Total</td>
        <td>$200.00</td>
      </tr>
    </table>
  </div>
</div>
