.selected-image {
  width: 200px;
}
.addToCart{
  cursor: pointer;
  color: green;
}
header{
  text-align: center;
}

.products{
}

.pic{
  text-align: center;
  align-items: center;
  justify-content: center;
}
