<section class="contact">
  <div class="content">
    <h5 style="color: white">Contact us</h5>
  </div>
    <div class="container-fluid">
      <div class="Contact-Info">
        <div class="box">
          <div class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></div>
           <div class="text">
             <h6>Address</h6>
               <p>Saffron Beauty Limited <br> Unit 5 Finway<br>Dallow Road<br> Luton <br> LU1 1TR <br>United Kingdom</p>
           </div>
        </div>
      <div class="box">
        <div class="icon"><i class="fas fa-envelope-square" aria-hidden="true"></i></div>
         <div class="text">
          <h6>Email</h6>
           <p>altamush@saffroncosmetics.co.uk</p>
        </div>
      </div>
        <div class="box">
          <div class="icon"><i class="fas fa-phone-square" aria-hidden="true"></i></div>
          <div class="text">
            <h6>Phone</h6>
              <p>019236532546</p>
          </div>
      </div>
    </div>
    <div class="contactForm">
      <form action="https://formsubmit.co/shabeeh.sayed@gmail.com" method="POST">
           <div class="inputBox">
          <input type="text" name="name" required="required">
         <span>Name</span>
        </div>
        <div class="inputBox">
          <input type="email" name="" required="required">
          <span> Email</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Write Message</span>
        </div>
        <input type="hidden" name="_next" value="https://localhost:4200/home.html">
        <input type="hidden" name="_subject" value="New Email Received!">
        <input type="hidden" name="_autoresponse" value="This is an automated response. You will receive a reply within 48 hours.Please do not respond to this email.Thankyou">
                <ngx-recaptcha2 #captchaElem
                                [siteKey]="siteKey"
                                formControlName="recaptcha">
                </ngx-recaptcha2>
        <div class="inputBox">
          <div class="g-recaptcha" data-sitekey="mySiteKey"></div>
           <button type = "submit"> Send</button>
        </div>
       </form>
     </div>
   </div>
 </section>



