<section class="contact">
  <div class="content">
    <h5 style="color: white">Contact us</h5>
  </div>
    <div class="container-fluid">
      <div class="Contact-Info">
        <div class="box">
          <div class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></div>
           <div class="text">
             <h6>Address</h6>
               <p>watford hertfordshire</p>
           </div>
        </div>
      <div class="box">
        <div class="icon"><i class="fas fa-envelope-square" aria-hidden="true"></i></div>
         <div class="text">
          <h6>Email</h6>
           <p>xyz@saffroncosmetics.co.uk</p>
        </div>
      </div>
        <div class="box">
          <div class="icon"><i class="fas fa-phone-square" aria-hidden="true"></i></div>
          <div class="text">
            <h6>Phone</h6>
              <p>019236532546</p>
          </div>
      </div>
    </div>
    <div class="contactForm">
      <form [formGroup]="contactForm" (ngSubmit)="send">
           <div class="inputBox">
          <input type="text" name="" required="required">
          <span> Full Name</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Mobile Num</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span> Email</span>
        </div>
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span> Write Message</span>
        </div>

        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
        </ngx-recaptcha2>

        <div class="inputBox">
          <div class="g-recaptcha" data-sitekey="mySiteKey"></div>
           <button type = "Submit"> Send</button>
        </div>
       </form>
     </div>
   </div>
 </section>


