<div class="card-footer" style="background: #202123">
  <div class="container" >
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">View Our Modern Slavery Statement</a></li>
            <li><a routerLink="/contact-us">Contact us</a></li>
          </ul>
      </div>
    <div class="footer-col">
        <h4>Get Help</h4>
          <ul>
            <li><a href="#">Track Delivery</a></li>
            <li><a href="#">Returns & Refunds</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Discounts & Offers</a></li>
          </ul>
    </div>
       <div class="footer-col">
          <h4>Privacy & Legal</h4>
            <ul>
              <li><a href="#">Cookies & Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
       </div>
          <div class="footer-col">
            <h4>Follow us</h4>
              <div class="social-links">
                <a id="amz" href="https://www.amazon.co.uk/saffronlondon">
                  <i class="fab fa-amazon" aria-hidden="true" ></i></a>
                <a id="tw" href="https://twitter.com/saffroncosmetic?s=11"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a id="inst" href="https://www.instagram.com/saffroncosmetics/?utm_medium=copy_link"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                <a id="eb" href="https://www.ebay.co.uk/str/saffronlondon"><i class="fab fa-ebay" aria-hidden="true"></i></a>
              </div>
          </div>
    </div>
    </div>
</div>

