<div class="card-footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Cookies & Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">View Our Modern Slavery Statement</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Complaint Process</a></li>
        </ul>
      </div>
    <div class="footer-col">
        <h4>Get Help</h4>
          <ul>
            <li><a href="#">Track Delivery</a></li>
            <li><a href="#">Returns & Refunds</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Discounts & Offers</a></li>
          </ul>
    </div>
       <div class="footer-col">
          <h4>Free Shipping</h4>
            <ul>
               <li><a href="#"></a></li>
            </ul>
       </div>
          <div class="footer-col">
            <h4>Follow us</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
          </div>
        </div>
    </div>
</div>

